<!DOCTYPE html>
<html>
  <head>
    <title>SaloonSpaBooking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      .ss_head {
        background-image: url('Scissor.png');
        background-position: center;
        background-repeat: no-repeat;
      }
    </style>
  </head>
  <body>
    <div class="ss_head  jumbotron text">
      <h1>Saloon & Spa Booking</h1>
      <p>Look your best, feel even better.</p> 
    </div>
    <%= yield %>
  </body>
</html>
